LibroClubViews/LibroClub/LibroSoftWeb/Connected Services/LibroClubWS/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.LibroClubSoft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="http://services.LibroClubSoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LibroClubWS/UsuarioWS?xsd=1" namespace="http://services.LibroClubSoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <message name="listarUsuario">
    <part name="parameters" element="tns:listarUsuario" />
  </message>
  <message name="listarUsuarioResponse">
    <part name="parameters" element="tns:listarUsuarioResponse" />
  </message>
  <message name="listarUsuarioMembresia">
    <part name="parameters" element="tns:listarUsuarioMembresia" />
  </message>
  <message name="listarUsuarioMembresiaResponse">
    <part name="parameters" element="tns:listarUsuarioMembresiaResponse" />
  </message>
  <message name="listarPorNombreUsuario">
    <part name="parameters" element="tns:listarPorNombreUsuario" />
  </message>
  <message name="listarPorNombreUsuarioResponse">
    <part name="parameters" element="tns:listarPorNombreUsuarioResponse" />
  </message>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario" />
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse" />
  </message>
  <message name="modificarUsuario">
    <part name="parameters" element="tns:modificarUsuario" />
  </message>
  <message name="modificarUsuarioResponse">
    <part name="parameters" element="tns:modificarUsuarioResponse" />
  </message>
  <message name="ObtenerUsuarioDni">
    <part name="parameters" element="tns:ObtenerUsuarioDni" />
  </message>
  <message name="ObtenerUsuarioDniResponse">
    <part name="parameters" element="tns:ObtenerUsuarioDniResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="insertarUsuario">
      <input wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
    </operation>
    <operation name="listarUsuario">
      <input wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/listarUsuarioRequest" message="tns:listarUsuario" />
      <output wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/listarUsuarioResponse" message="tns:listarUsuarioResponse" />
    </operation>
    <operation name="listarUsuarioMembresia">
      <input wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/listarUsuarioMembresiaRequest" message="tns:listarUsuarioMembresia" />
      <output wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/listarUsuarioMembresiaResponse" message="tns:listarUsuarioMembresiaResponse" />
    </operation>
    <operation name="listarPorNombreUsuario">
      <input wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/listarPorNombreUsuarioRequest" message="tns:listarPorNombreUsuario" />
      <output wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/listarPorNombreUsuarioResponse" message="tns:listarPorNombreUsuarioResponse" />
    </operation>
    <operation name="eliminarUsuario">
      <input wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
      <output wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
    </operation>
    <operation name="modificarUsuario">
      <input wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/modificarUsuarioRequest" message="tns:modificarUsuario" />
      <output wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/modificarUsuarioResponse" message="tns:modificarUsuarioResponse" />
    </operation>
    <operation name="ObtenerUsuarioDni">
      <input wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/ObtenerUsuarioDniRequest" message="tns:ObtenerUsuarioDni" />
      <output wsam:Action="http://services.LibroClubSoft.pucp.edu.pe/UsuarioWS/ObtenerUsuarioDniResponse" message="tns:ObtenerUsuarioDniResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuarioMembresia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorNombreUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ObtenerUsuarioDni">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/LibroClubWS/UsuarioWS" />
    </port>
  </service>
</definitions>